section {
  display: flex;
  justify-content: flex-end;
}
.example-button-row {
  display: flex;
  max-width: 600px;
  gap: 10px;
  margin: 8px 8px 8px 0;
}

.load-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background-color: rgba($color: #000000, $alpha: 0.04);
}

.content {
  max-height: 50vh;
  overflow: auto;
}
