mat-card {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.example-container {
  display: flex;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  margin: auto;
}


mat-form-field{
  justify-content: center;
}
section {
  display: flex;
  flex-direction: row-reverse;
}
.example-button-row {
  display: flex;
  max-width: 600px;
  gap: 10px;
}
.example-button-row {
  margin: 8px 8px 8px 0;
}
