<div class="container">
  <mat-card>
    <mat-card-content class="example-card">
      <div>
        <h1>
          Passageiros de ônibus do Grande Recife podem comprar créditos para o
          VEM com WhatsApp e PIX.
        </h1>
        <p>
          Os passageiros de ônibus do Grande Recife podem comprar créditos para
          recarregar o cartão VEM meio do WhatsApp e pagar com PIX. A novidade
          está ativa desde a última segunda-feira (23). Veja como no Notícia da
          Hora.
        </p>
        <iframe
          width="480"
          height="270"
          src="https://www.youtube.com/embed/Mc1VwJHSw0U"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <div>
        <h1>
          Vem Idoso permite andar de graça nos ônibus do Grande Recife saiba
          como tirar.
        </h1>
        <p>
          Começou a ser emitido nesta quarta-feira (15), o cartão Vem Idoso,
          pelo Grande Recife Consórcio de Transporte. Para garantir o passe
          livre, o qual substitui a apresentação do documento de identidade à
          entrada dos ônibus na Região Metropolitana do Recife (RMR), os idosos
          com 65 anos ou mais devem agendar o atendimento no site do consórcio.
        </p>
        <iframe
          width="480"
          height="270"
          src="https://www.youtube.com/embed/GQt3HB6csKw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <div>
        <h1>Aplicativo Vem Posto Virtual.</h1>
        <p>Veja como fazer para agendar e retirar o seu cartão.</p>
        <iframe
          width="480"
          height="270"
          src="https://www.youtube.com/embed/Fhc1qtTDWJQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <div>
        <h1>
          Recarga do Cartão VEM pelo Whatsapp agrada passageiros no Grande
          Recife.
        </h1>
        <p>
          FACILIDADE: Nesta semana, passageiros já poderão fazer a recarga no
          cartão Vem por meio do Whatsapp e fazer o pagamento pelo PIX. Saiba
          como funciona:
        </p>
        <iframe
          width="480"
          height="270"
          src="https://www.youtube.com/embed/hdzyW26CacI"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </mat-card-content>
  </mat-card>
</div>
