<h1>Meus Cartões</h1>
<p>
  Aqui você pode verificar o status dos seus cartões, atualizar dados, excluir e
  solicitar um novo caso desejar, basta selecionar ou clicar no botão ao lado.
</p>

<section>
  <div class="example-button-row">
    <button
      color="primary"
      routerLink="solicitacoes"
      mat-raised-button
      (click)="onSolicitarCartao()"
    >
      Novo Cartão
    </button>
  </div>
</section>

<div *ngIf="cartoes$ | async as cartoes; else loading">
  <table mat-table [dataSource]="cartoes$" class="mat-elevation-z8">
    <!-- Nº Column -->
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef>Nº</th>
      <td mat-cell *matCellDef="let element">{{ element._id }}</td>
    </ng-container>

    <!-- Nº Column -->
    <ng-container matColumnDef="numeroCartao">
      <th mat-header-cell *matHeaderCellDef>Nº</th>
      <td mat-cell *matCellDef="let element">{{ element.numeroCartao }}</td>
    </ng-container>

    <!-- Nome Column -->
    <ng-container matColumnDef="nomeCartao">
      <th mat-header-cell *matHeaderCellDef>Nome do Cartão</th>
      <td mat-cell *matCellDef="let element">{{ element.nomeCartao }}</td>
    </ng-container>

    <!-- Status Cartão Column -->
    <ng-container matColumnDef="statusCartao">
      <th mat-header-cell *matHeaderCellDef>Status Cartão</th>
      <td mat-cell *matCellDef="let element">
        {{ element.statusCartao | status_cartao }}
      </td>
    </ng-container>

    <!-- Tipo Cartão Column -->
    <ng-container matColumnDef="tipoCartao">
      <th mat-header-cell *matHeaderCellDef>Tipo Cartão</th>
      <td mat-cell *matCellDef="let element">{{ element.tipoCartao }}</td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let cartoes$">
        <button
          mat-icon-button
          color="primary"
          aria-label="Edit"
          (click)="onEditar()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Remove Column -->
    <ng-container matColumnDef="excluir">
      <th mat-header-cell *matHeaderCellDef>Excluir</th>
      <td mat-cell *matCellDef="let cartoes$">
        <button
          mat-icon-button
          color="warn"
          aria-label="Edit"
          (click)="onExcluir()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<ng-template #loading>
  <div class="load-spinner">
    <mat-spinner> </mat-spinner>
  </div>
</ng-template>
<mat-paginator
  [length]="20"
  [pageSizeOptions]="[5, 10, 20]"
  aria-label="Select page"
>
</mat-paginator>
