<h2 mat-dialog-title>Excluir Cartão</h2>
<mat-dialog-content class="mat-typography">
  <h3>Textinho bonito informando ao usuário que seu cartão será excluido!</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa aliquam
    unde expedita nisi sapiente dolores neque sequi. Mollitia velit harum dolore
    laborum at, ex alias explicabo voluptate minus consequatur. Lorem ipsum
    dolor sit amet consectetur, adipisicing elit. Optio pariatur amet, non
    reiciendis numquam veritatis alias sint, eligendi nihil et doloremque,
    distinctio odio provident nam. Earum esse labore officia laudantium?
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="warn" mat-raised-button mat-dialog-close>Cancelar</button>
  <button
    color="primary"
    mat-raised-button
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    Confirmar
  </button>
</mat-dialog-actions>
