<mat-toolbar color="secondary" class="title">
  <a routerLink="/"><img src="../assets/logovem.png" alt="" srcset="" /></a>
  <span class="example-button-row">
    <a
    target="_blank"
    href="https://apps.apple.com/br/app/cart%C3%A3o-vem/id6469617335"
  >
    <img src="../assets/apple.png" alt="" />
  </a>
  <a
    target="_blank"
    href="https://play.google.com/store/apps/details?id=vem.posto.virtual&pli=1"
  >
    <img src="../assets/google-play.png" alt="" />
  </a>

    <!---
    <button routerLink="autenticacao" mat-button color="primary">Login</button>
    <button routerLink="" mat-button color="primary">Home</button>
     -->
  </span>
</mat-toolbar>

<mat-card>
  <mat-card-content class="example-card">
    <!-- TODO O CAMPO DO VIEW vai ficar aqui -->
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>

<!-- FOOOTER -->

<footer class="footer-distributed">
  <div class="footer-left">
    <p class="footer-links">
      <a href="#">Home</a>

      <a href="#">Blog</a>

      <a href="#">Sobre nós</a>

      <a href="#">Faq</a>

      <a href="#">Contato</a>
    </p>

    <p>© Fábio F S Jr / © Urbana-PE 2024</p>
  </div>
</footer>
