<mat-toolbar color="secondary" class="title">
  <span>CRUD - ANGULAR, JAVA, SPRING</span>
  <span class="example-button-row">
    <button routerLink="autenticacao" mat-button color="primary">Login</button>
    <button routerLink="" mat-button color="primary">Home</button>
    <button *ngIf="hidden" routerLink="cartoes" mat-button color="primary">Cartões</button>
    <button *ngIf="hidden" routerLink="solicitacoes" mat-button color="primary">
      Solicitações
    </button>
    <button *ngIf="hidden" routerLink="" mat-button color="primary">Sair</button>
  </span>
</mat-toolbar>

<mat-card>
  <mat-card-content class="example-card">
    <!-- TODO O CAMPO DO VIEW vai ficar aqui -->
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>

<!-- FOOOTER -->

<footer class="footer-distributed">
  <div class="footer-left">
    <p class="footer-links">
      <a class="link-1" href="#">Home</a>

      <a href="#">Blog</a>

      <a href="#">Pricing</a>

      <a href="#">About</a>

      <a href="#">Faq</a>

      <a href="#">Contact</a>
    </p>

    <p>Fábio F S Jr/ Urbana-PE &copy; 2023</p>
  </div>
</footer>

