<mat-card>
  <div>
    <h1>Cadastrar de um novo cartão</h1>
    <p>
      Escolha um tipo de cartão em seguida no botão ao lado em "Cadastrar
      Cartão".
    </p>
  </div>

  <form class="example-form" [formGroup]="form">
    <!-- <mat-form-field class="example-full-width">
      <mat-label>Nome Completo</mat-label>
      <input formControlName="nomeCartao" matInput />
    </mat-form-field> -->

    <!-- <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        formControlName="emailCartao"
        type="email"
        matInput
        placeholder="Ex. pat@example.com"
      />
    </mat-form-field> -->
    <!-- <mat-form-field class="example-full-width">
      <mat-label></mat-label>
      <input
        formControlName="numeroCartao"
        maxlength="15"
        matInput
        value="{{ numeroCartao }}"
      />
    </mat-form-field> -->

    <!-- <mat-form-field class="example-container" appearance="fill">
      <mat-label>Ativo</mat-label>
      <input class="hide" matInput formControlName="tipoCartao" value="True">
    </mat-form-field> -->

    <mat-form-field class="example-container" appearance="fill">
      <mat-label>Escolher cartão</mat-label>
      <mat-select formControlName="tipoCartao">
        <mat-option value="comum"
          >COMUM</mat-option
        >
        <mat-option value="estudante"
          >ESTUDANTE</mat-option
        >
        <mat-option value="trabalhador"
          >TRABALHADOR</mat-option
        >
      </mat-select>
      <mat-hint align="end">Selecione uma opção</mat-hint>
    </mat-form-field>
  </form>

  <section class="example-container">
    <div class="example-button-row">
      <button
        (click)="onSubmit()"
        color="primary"
        routerLink="cartoes"
        mat-raised-button
      >
        Solicitar Cartão
      </button>
    </div>
  </section>
</mat-card>
